#ratingPageElementsContainer {
  background: hsl(213, 19%, 18%);
  padding: 20px;
  border-radius: 20px;
  width: 350px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#iconImage {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 5px;
  background-color: hsla(216, 12%, 54%, 0.25);
}

#rateTitle {
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  font-size: 1.4rem;
}

#rateDescription {
  font-weight: 400;
  color: hsl(217, 12%, 63%);
}

#rateNumbersContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.rateNumber {
  width: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: hsl(216, 12%, 54%, 0.25);
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  vertical-align: middle;
}

.rateNumber:hover {
  background-color: hsl(217, 12%, 63%);
}

.rateNumber:focus {
  background-color: hsl(25, 97%, 53%);
}

input[type="radio"] {
  text-decoration: none;
}

#buttonSubmit {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  text-align: center;
  border-radius: 20px;
  background-color: hsl(25, 97%, 53%);
  font-weight: 700;
  padding: 10px;
  letter-spacing: 2px;
}

#buttonSubmit:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}

@media (width<=375px) {
  #ratingPageElementsContainer {
    width: 70vw;
    height: 50vh;
  }
  .rateNumberContainer {
    width: 6vw;
  }
}
